<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataConnectionString" value="UseDevelopmentStorage=true" />
    <add key="DefaultAdminEmail" value="admin" />
    <add key="DefaultAdminPwd" value="admin" />
    <add key="FilesBlobName" value="files" />
    <add key="ProcessingQueueName" value="processing_queue" />
  </appSettings>
</configuration>