<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Disibox.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <Disibox.Data.Properties.Settings>
      <setting name="EntriesTableName" serializeAs="String">
        <value>entries</value>
      </setting>
      <setting name="UsersTableName" serializeAs="String">
        <value>users</value>
      </setting>
      <setting name="DataConnectionString" serializeAs="String">
        <value>UseDevelopmentStorage=true</value>
      </setting>
      <setting name="FilesContainerName" serializeAs="String">
        <value>files</value>
      </setting>
      <setting name="OutputsContainerName" serializeAs="String">
        <value>outputs</value>
      </setting>
      <setting name="ProcReqQueueName" serializeAs="String">
        <value>procreq</value>
      </setting>
      <setting name="ProcComplQueueName" serializeAs="String">
        <value>proccompl</value>
      </setting>
      <setting name="MinPasswordLength" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="ProcDllsContainerName" serializeAs="String">
        <value>procdlls</value>
      </setting>
    </Disibox.Data.Properties.Settings>
  </applicationSettings>
</configuration>