<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Disibox.Data.Setup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Disibox.Data.Setup.Properties.Settings>
            <setting name="DefaultAdminEmail" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="DefaultAdminPwd" serializeAs="String">
                <value>admin</value>
            </setting>
        </Disibox.Data.Setup.Properties.Settings>
    </applicationSettings>
</configuration>