<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Disibox.Processing.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Disibox.Processing.Tests.Properties.Settings>
            <setting name="DefaultProcessingServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DefaultProcessingServerPort" serializeAs="String">
                <value>2345</value>
            </setting>
        </Disibox.Processing.Tests.Properties.Settings>
    </userSettings>
</configuration>